.music-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
  gap: 1rem;
  flex-direction: column;
}

.content {
  aspect-ratio: 16 / 9;
  width: 100%;
  max-width: 600px;
}

@media (max-width: 768px) {
  .music-container {
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: border-box;
  }
}