.dates-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  margin: 0;
  font-weight: 400;
}

.planning-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;

}

ul {
  list-style-type: none;
  padding: 0;
}

.date {
  width: 100%;
  padding: 10px 0;
  font-size: 21px;
  display: flex;
  font-weight: 300;

  @media only screen and (max-width: 600px) {
    font-size: 15px;
  }
}

.date-holder {
  border-right: solid white 1px;
  width: 40px;
  margin-right: 8px;
}