#navbar {
  position: fixed;
  z-index: 8000;
  width: 100%;
  box-sizing: border-box;
  padding-top: 2vw;
  padding-bottom: 2vw;
  padding-left: 4vw;
  padding-right: 4vw;
  pointer-events: auto;
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
  height: 100%;
}

a:hover {
  color: #B16D30;
}

.navbar_section {
  flex-wrap: nowrap;
  align-items: center;
  display: inline-flex;
  flex-wrap: wrap;
  gap: 1rem;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none; 
}

.navbar_link a {
  position: relative;
  text-decoration: none;
  color: inherit;
  font-weight: 400;
}

.navbar_link a:not([href*="instagram"]):not([href*="soundcloud"]):not([href*="mailto"]):not([href*="ra.co"]) {
  position: relative;
  text-decoration: none;
  color: inherit;
  font-weight: 400;
}

.navbar_link a:not([href*="instagram"]):not([href*="soundcloud"]):not([href*="mailto"]):not([href*="ra.co"])::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  left: 0;
  bottom: -2px; 
  background-color: #B16D30; 
  transition: width 0.3s ease-in-out;
}

.navbar_link a:not([href*="instagram"]):not([href*="soundcloud"]):not([href*="mailto"]):not([href*="ra.co"]):hover::after {
  width: 100%;
}

a:hover {
  color: #B16D30;
}

