#navbar {
  position: fixed;
  z-index: 8000;
  width: 100%;
  box-sizing: border-box;
  padding-top: 2vw;
  padding-bottom: 2vw;
  padding-left: 4vw;
  padding-right: 4vw;
  pointer-events: auto;
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
  height: 100%;
}

a:hover {
  color: #7091e6;
}

a:hover {
  color: #3d52a0;
}

.navbar_section {
  flex-wrap: nowrap;
  align-items: center;
  display: inline-flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.navbar_link {
  color: #152a49;
}